<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
        background-image: url("../img/black.jpeg");
        background-size: cover;
      }
        @media screen and (max-width: 1000px) and (min-width: 500px) {
        div.head img {
            width: 110px;
            height: 100px;
          }
          div.head>ul>li{
            font-size: 15px;
          }
          div.head h1{
            font-size: 45px;
          }
          div.head{
            display: flex;
            height:100px
          }
          div.name{
            font-size: 10px;
          }
          div.catbody img{
            width: 450px;
            height:400px;
          }
        }
         .head{
            display: flex;
            box-shadow: 10px 10px 5px rgb(13, 13, 13);
            background-color: brown;
        }
        .head>ul{
            text-align: left;
            margin: auto;
            margin-left: -20px;
            
        }
        .head>ul>li{
            display:inline;
            font-size: 25px;
            background-color: aliceblue;
            padding: 3px;
            
           
        }
        .head>ul>li>a{
                text-decoration: 0;
            }
            a:hover {
                color: red;
                background-color: transparent;
                text-decoration: 0;
            }
        .head img{
            width: 200px;

        }
        .head h1{
            font-size: 60px;
        }
        button{
            margin: 50px 10px 20px;
            width: 100px;
            height: 50px;
  
        }
        .name{  
            margin: auto;
            font-size: 25px;
            color:aliceblue;
            padding:10px;
            background-color: black;
        }
        .catbody{
            background-color: aliceblue;
            width:auto;
            height:auto;
            font-size: 18px;
            margin:3px 3px 3px 3px;

        }
       
        .leftcat{
            width: 500px;
            height:400px;
            float: left;
            margin-left: 10px;
            margin-right: 10px;
        }
        .rightcat{
            width: 400px;
            height:350px;
            float: right;
            margin-left: 10px;
            margin-right: 10px;
        }
        .end{
            display: inline;
            justify-content: center;
            width: 450px;
            height:400px;
            margin-left: 10px;
            margin-right: 10px;
        }
        </style>
</head>
<body>
    <div class = "head">
        <img src ="../img/logo.png">
        <h1>CKL</h1>
        <ul>
            <li><a href="/home">หน้าหลัก</a></li>
            <li><a href="/popcat">แมวยอดนิยม</a></li>
            <li><a href="/breedcat">สายพันธ์ุ</a></li>
            <li><a href="/heal">ดูแลรักษา</a></li>
            <li><a href="/catcontact">ติดต่อเรา</a></li>
        </ul>
        <% if (loggedIn) { %>
            <div class = "name">
                <%= UserData.name  %>
              </div>
         <button onclick="Logout();">Logout</button>
        <% } %>
        <% if (!loggedIn) { %>
          <button onclick="Signin();">Sign In</button>
          <button onclick="Signup();">Sign Up</button>
          
         <% } %>


         
        <script>
            function Signin(){
                window.location='/login';
            }
        </script>
        <script>
            function Signup(){
                window.location='/register';
            }
        </script>
          <script>
            function Logout(){
                window.location='/logout';
            }
        </script>
        
        
    </div>
    <div class="catbody">
        <h1>ลูกเเมว(Kitten)</h1>
        <h2>ดูแลลูกแมวแรกเกิดอย่างไรให้มีสุขภาพดี</h2>
        <br>
        <dd>ก่อนที่จะเริ่มเลี้ยงลูกแมว ต้องทำความเข้าใจเสียก่อนว่าการเลี้ยงลูกแมว 
            แตกต่างอย่างมากกับการเลี้ยงแมวที่โตแล้ว เพราะลูกแมวมีความต้องการด้านต่าง ๆ 
            ที่ไม่เหมือนกับแมวที่โตเต็มวัยแล้ว ยิ่งเป็นลูกแมวกำพร้าที่เราต้องรับเลี้ยงมาก่อนที่จะเข้าสู่ช่วงวัยที่หย่านมแล้ว
             ก็ยิ่งจำเป็นต้องดูแลอย่างใส่ใจมากขึ้นเป็นพิเศษ ซึ่งสิ่งที่ต้องคำนึงถึงในการดูแลลูกแมวในแต่ละช่วงอายุ ได้แก่
            </dd>
             <br>
        <img class= "leftcat" src="../img/bc1.png">
        <p><b>• ลูกแมวอายุต่ำกว่า 8 สัปดาห์ :</b> หากคุณต้องรับเลี้ยงลูกแมวที่อยู่ในวัยนี้ 
            ซึ่งเป็นวัยที่โดยปกติแล้วยังต้องอยู่กับแม่แมวและพี่น้องแมวตัวอื่น ๆ ในครอก ก่อนช่วงลูกแมวอายุ 1 
            นี้ร่างกายของลูกแมวจะยังปรับอุณหภูมิเองได้ไม่ดีนัก จึงควรเปิดไฟกกให้กับลูกแมวเพื่อเพิ่มความอบอุ่น
             มีการปูแผ่นรองนอน ไม่ให้บริเวณที่นอนเย็นเกินไป ป้อนนมทดแทนสำหรับลูกแมวโดยใช้ขวดนมสำหรับลูกแมวทุก ๆ 
            2 ชั่วโมง และใช้สำลีชุบน้ำเช็ดทำความสะอาด และกระตุ้นให้ลูกแมวขับถ่าย ที่สำคัญควรพาลูกแมวไปพบสัตวแพทย์เพื่อตรวจร่างกาย และถ่ายพยาธิ
        </p>
        <p><b>• ลูกแมวอายุ 8-11 สัปดาห์ :</b> เป็นช่วงที่ลูกแมวอายุ 1 เดือนแล้ว ซึ่งการเลี้ยงลูกแมวอายุ 1 
            เดือนขึ้นไปนี้จะเป็นระยะที่ลูกแมวเข้าสู่ช่วงหย่านมและเริ่มที่จะกินอาหารแสนอร่อย 
            เจ้าของน้องแมวควรเลือกอาหารที่มีสารอาหารเข้มข้นให้พลังงานสูงเหมาะกับช่วงอายุของน้องแมววัยซน 
            เช่น เพียวริน่า วัน อาหารแมวชนิดเม็ด เกรดซุปเปอร์พรีเมี่ยม สำหรับลูกแมวทุกสายพันธุ์ ที่มีโปรตีนสูง 40% 
            ให้เหมาะกับลูกแมววัยกำลังเจริญเติบโต มี DHA สารที่พบในน้ำนมแม่ เพื่อพัฒนาการทางสมองและสายตา และทำจากเนื้อไก่และข้าว 
            เพื่อให้ย่อยง่ายเหมาะสำหรับลูกแมว
        </p>
        <p><b>• ลูกแมวอายุ 2 เดือน-4 เดือน :</b> ช่วงอายุนี้ลูกแมวจะเติบโตอย่างรวดเร็วมาก 
            และใช้พลังงานสูงกว่าแมวโตเต็มวัยถึง 3 เท่า อาหารที่มีโปรตีนสูงจึงจำเป็นสำหรับลูกแมวในช่วงวัยนี้เช่นกัน 
            ที่สำคัญควรพาลูกแมวในช่วงอายุนี้ไปพบสัตวแพทย์เพื่อตรวจร่างกาย เริ่มโปรแกรมการดูแลและป้องกันพยาธิภายใน 
            และเริ่มทำโปรแกรมวัคซีนตามที่สัตวแพทย์แนะนำ
        </p>
        <p><b>• ลูกแมวอายุ 4 เดือน-6 เดือน : </b>เป็นช่วงวัยที่กำลังก้าวไปสู่ความเป็นวัยรุ่น สามารถพูดคุยกับสัตวแพทย์เพื่อเตรียมตัวที่จะทำหมัน 
            เพื่อลดปัญหาพฤติกรรมต่าง ๆ อันไม่พึงประสงค์ ไม่ว่าจะเป็นการปัสสาวะเรี่ยราดไปทั่วเพื่อแสดงความเป็นเจ้าของ พฤติกรรมก้าวร้าวต่าง ๆ
        </p>
        <br>
        
        <h2>เตรียมตัวดูแลอย่างไรเมื่อได้รับลูกแมวมาเลี้ยง</h2><img class="rightcat" src="../img/bc2.jpg">
        <p>เมื่อเราต้องเป็นคุณพ่อคุณแม่ที่รับลูกแมวมาเลี้ยง อาจจะยังกังวลใจเกี่ยวกับวิธีเลี้ยงลูกแมวอยู่บ้าง
             แม้ว่าการที่ลูกแมวได้อยู่กับแม่แมวจนถึงช่วงที่ลูกแมวตัวเล็กหย่านมนั้นจะเป็นสิ่งที่ดีที่สุด 
             แต่หากมีเหตุจำเป็นที่ทำให้เราต้องกลายเป็นคุณพ่อคุณแม่ลูกแมวขึ้นมา เราก็ควรเตรียมตัวเอาไว้กับวิธีเลี้ยงลูกแมว
              และสิ่งที่คุณพ่อคุณแม่มือใหม่ควรรู้เอาไว้ดังต่อไปนี้
            </p>
        <p><b>• เตรียมใจและเวลา :</b> การเป็นคุณแม่จำเป็นให้กับลูกแมวนั้นนอกจากจะต้องใช้ทั้งพลังงานและความเอาใจใส่แล้ว 
            ยังต้องมีเวลาที่จะดูแลลูกแมวตัวน้อย ซึ่งก็แทบไม่ต่างจากการเลี้ยงเด็กเล็ก ๆ สักเท่าไหร่ 
            ดังนั้นหากทราบแล้วว่าต้องรับบทเป็นคุณแม่มือใหม่แล้วควรให้ความใส่ใจแก่ลูกแมวให้มาก ๆ 
            โดยเฉพาะในลูกแมวแรกเกิด ไปจนถึงลูกแมวอายุ 1 เดือน โดยควรแบ่งเวลาเพื่อดูแลลูกแมว 
            มีการสังเกตอาการผิดปกติต่าง ๆ ที่เกิดขึ้นกับลูกแมว เพื่อที่เราจะได้ช่วยเหลือลูกแมวได้อย่างทันท่วงที
        </p>
        <p><b>• เตรียมสถานที่ให้เหมาะสม :</b> เลือกบริเวณที่แห้ง สะอาด มีผ้าหรือวัสดุปูรองนอนเอาไว้ และมีโคมไฟคอยส่องให้กับลูกแมว 
            โดยเฉพาะในลูกแมวแรกเกิด ถึงลูกแมวอายุ 1 เดือน ควรเลือกเลี้ยงลูกแมวในบริเวณที่เงียบ ไม่พลุกพล่าน อากาศถ่ายเทได้ดี 
            และปลอดภัยจากสัตว์ชนิดอื่น
        </p>
        <p><b>• เลือกนมให้เหมาะสม :</b> นมที่ดีที่สุดสำหรับลูกแมวนั้นคือน้ำนมจากแม่แมว โดยลูกแมวจะกินนมแม่ตั้งแต่แรกเกิด 
            ถึง อายุประมาณ 6-8 สัปดาห์ นมแม่จะมีสารอาหารที่เหมาะสมกับระบบย่อยอาหารและการเจริญเติบโต
             รวมทั้งมีปริมาณน้ำตาลแลคโตสในน้ำนมที่เหมาะสม ซึ่งถือเป็นเรื่องนี้สำคัญ เพราะหากมีปริมาณของน้ำตาลแลคโตสในน้ำนมที่ไม่เหมาะสมอาจทำให้เกิดปัญหาท้องเสีย
              ท้องอืด และร้ายแรงถึงขั้นทำให้ลูกแมวตัวน้อยเสียชีวิตได้ ในกรณีที่แม่แมวไม่สามารถให้นมลูกแมวได้ หรืออุปการะลูกแมวที่ไร้บ้านมา 
              ควรเลือกนมทดแทนสำเร็จรูปสำหรับลูกแมวโดยเฉพาะ เพราะมีสารอาหารที่ใกล้เคียงกับนมของแม่แมว หรืออาจเลือกใช้นมแพะทดแทนได้เช่นกัน 
              แต่ไม่ควรให้นมวัวเพื่อทดแทนนมแม่แมว เพราะนมวัวมีปริมาณของแป้งและปริมาณแลคโตสไม่เหมาะสมกับลูกแมว ทำให้ลูกแมวไม่สามารถย่อยนมได้
               ซึ่งอาจทำให้ลูกแมวป่วยจากอาการท้องอืด ท้องเสีย จนถึงขั้นเสียชีวิตได้
            </p>
        <p><b>• รู้จักการป้อนนมอย่างถูกวิธี :</b> นอกจากต้องเลือกนมให้ถูกต้องแล้ว การป้อนนมอย่างถูกวิธีก็เป็นสิ่งที่สำคัญมากในการเลี้ยงลูกแมว 
            โดยการป้อนนมลูกแมวควรใช้ขวดนมและจุกนมที่ออกแบบมาสำหรับลูกแมวโดยเฉพาะ ซึ่งส่วนใหญ่สามารถควบคุมความเร็วของการไหลน้ำนมที่ออกมาที่จุกยางได้ด้วยแรงบีบของนิ้วมือ
             น้ำนมควรมีอุณหภูมิอยู่ที่ประมาณ 36.6-37.7 องศาเซลเซียส ควรทำความสะอาดและฆ่าเชื้ออุปกรณ์ที่ป้อนนมก่อนและหลังใช้งานทุกครั้ง
              วิธีการป้อนนมลูกแมวสามารถทำเองได้ไม่ยากโดยเริ่มจาก นำลูกแมววางไว้บนตักให้มีท่าคล้ายกับตอนกินนมแม่ในธรรมชาติ โดยเมื่อเริ่มป้อนให้ค่อย ๆ
               หยดนมหนึ่งหยดจากจุกนม แล้วนำหยดนมจ่อให้ชิดปากของลูกแมวมากที่สุด จากนั้นลูกแมวจะได้กลิ่นนมแล้วยกปากเข้าหาเพื่อดูดเองตามธรรมชาติ
                ระวังอย่าป้อนนมด้วยโดยให้ลูกแมวนอนหงายเพื่ออาจจะทำให้ลูกแมวสำลักนมได้
            </p>
        <p><b>• รู้เวลาหย่านม :</b> ต่อจากเรื่องป้อนนม ก็คือควรรู้ว่าลูกแมวเริ่มหย่านมในช่วงเวลาใด ซึ่งในแมวจะหย่านมที่อายุประมาณ 7-8 สัปดาห์
             ดังนั้นอย่าลืมฝึกให้ลูกแมวได้รู้จักกับอาหารอาหารเม็ดสูตรหย่านมแสนอร่อยและมีคุณค่าครบถ้วน 
             เพื่อให้ลูกแมวได้คุ้นเคยกับอาหารเม็ดและกินอาหารเม็ดได้อย่างถูกต้องเหมาะสมต่อไป
            </p>
        <p><b>• เลือกอาหารเม็ดที่เหมาะสม :</b> อาหารที่มีคุณภาพ และมีสารอาหารครบถ้วน เป็นสิ่งสำคัญสำหรับการเจริญเติบโตของลูกแมว
             ดังนั้นการเลือกอาหารที่เสริมเรื่องการเติบโตจึงเป็นสิ่งที่ต้องใส่ใจ 

           </p>
        <p><b>• กระตุ้นการขับถ่ายให้ลูกแมว :</b> โดยธรรมชาติแม่แมวจะเลียกระตุ้นให้ลูกแมวขับถ่าย 
            ดังนั้นการกระตุ้นระบบขับถ่ายเป็นสิ่งหนึ่งที่ไม่ควรลืม เพราะลูกสัตว์นั้นยังไม่สามารถขับถ่ายทั้งอุจจาระและปัสสาวะได้เอง
             คุณพ่อคุณแม่ลูกแมวสามารถใช้สำลีชุบน้ำอุ่นถูเบา ๆ 
            บริเวณอวัยวะเพศและรูก้นของลูกแมวเพื่อเป็นการการช่วยกระตุ้นให้ขับถ่าย
             การกระตุ้นให้ลูกแมวขับถ่ายนี้จำเป็นอย่างมากในลูกแมวแรกเกิดถึงก่อนลูกแมวอายุ 1 เดือน
            </p>
        <p><b>• พาลูกแมวไปพบสัตวแพทย์ :</b> นอกจากจะไปตรวจร่างกายเมื่อย้ายบ้านใหม่แล้ว
             คุณหมอจะวางโปรแกรมในการดูแลสุขภาพทั้งการฉีดวัคซีน และถ่ายพยาธิให้
              เพราะในช่วงแรกร่างกายลูกแมวจะยังมีการพัฒนาระบบภูมิคุ้มกันได้ไม่สมบูรณ์ 
              ทำให้มีความเสี่ยงติดโรคอันตรายต่าง ๆ ป้องกันไว้ก่อนนอกจากจะดีต่อตัวลูกแมวเองแล้ว 
              คุณพ่อคุณแม่ลูกแมวมือใหม่ก็ไม่ต้องมานั่งกลุ้มใจเวลาลูกแมวตัวเล็กป่วยอีกด้วย
            </p>
        <img class="end"  src ="../img/bc3.jpg">
    </div>
</body>
</html>