<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url("../img/black.jpeg");
            background-size: cover;
          }
            @media screen and (max-width: 1000px) and (min-width: 500px) {
            div.head img {
                width: 110px;
                height: 100px;
              }
              div.head>ul>li{
                font-size: 15px;
              }
              div.head h1{
                font-size: 45px;
              }
              div.head{
                display: flex;
                height:100px
              }
              div.name{
                font-size: 10px;
              }
              div.ocat img{
                width: 450px;
                height:400px;
              }
            
            }
             .head{
                display: flex;
                box-shadow: 10px 10px 5px rgb(13, 13, 13);
                background-color: brown;
            }
            .head>ul{
                text-align: left;
                margin: auto;
                margin-left: -20px;
                
            }
            .head>ul>li{
                display:inline;
                font-size: 25px;
                background-color: aliceblue;
                padding: 3px;
                
               
            }
            .head>ul>li>a{
                text-decoration: 0;
            }
            a:hover {
                color: red;
                background-color: transparent;
                text-decoration: 0;
            }
            .head img{
                width: 200px;
    
            }
            .head h1{
                font-size: 60px;
            }
            button{
                margin: 50px 10px 20px;
                width: 100px;
                height: 50px;
      
            }
            .name{  
                margin: auto;
                font-size: 25px;
                color:aliceblue;
                padding:10px;
                background-color: black;
            }
            .ocat{
                background-color: aliceblue;
            }
            .old{
                width: 800px;
            height:600px;
            margin-left: 10px;
            margin-right: 10px;
            }
        </style>
</head>
<body>
    <div class = "head">
        <img src ="../img/logo.png">
        <h1>CKL</h1>
        <ul>
            <li><a href="/home">หน้าหลัก</a></li>
            <li><a href="/popcat">แมวยอดนิยม</a></li>
            <li><a href="/breedcat">สายพันธ์ุ</a></li>
            <li><a href="/heal">ดูแลรักษา</a></li>
            <li><a href="/catcontact">ติดต่อเรา</a></li>
        </ul>
        <% if (loggedIn) { %>
            <div class = "name">
                <%= UserData.name  %>
              </div>
         <button onclick="Logout();">Logout</button>
        <% } %>
        <% if (!loggedIn) { %>
          <button onclick="Signin();">Sign In</button>
          <button onclick="Signup();">Sign Up</button>
          
         <% } %>


         
        <script>
            function Signin(){
                window.location='/login';
            }
        </script>
        <script>
            function Signup(){
                window.location='/register';
            }
        </script>
          <script>
            function Logout(){
                window.location='/logout';
            }
        </script>
        
        
    </div>
    <div class="ocat">
        <h1>เเมวสูงวัย(Senior cat)</h1>
        <h2>เลี้ยงแมวอย่างไรให้อายุยืน</h2>
        <dd>รู้หรือไม่ว่าหากเราดูแลแมวของเราให้มีสุขภาพที่ดี น้องแมวก็มีโอกาสที่จะเป็นแมวอายุยืนถึง 20 ปีได้เลย
            หัวใจสำคัญในการเลี้ยงแมวให้มีอายุยืนยาวก็ไม่ต้องใช้เคล็ดลับอะไรให้วุ่นวาย เพียงแต่หมั่นดูแลเอาใจใส่ในการดูแลสุขภาพ 
            อาหารการกินของน้องแมว และพาไปพบคุณหมอเพื่อตรวจเช็คสุขภาพตามที่คุณหมอนัดหมายอย่างต่อเนื่องเท่านั้นเอง 
            แต่เล่าแค่นี้อาจจะยังไม่จุใจ มาติดตามอ่านแล้วไปดูแลแมวให้เป็นแมวอายุยืนไปพร้อมๆ กันด้วยเคล็ด(ไม่)ลับในการเลี้ยงแมวนี้กันดีกว่า
            
            </dd>
            <center><img class ="old"src="../img/olcat.jpg"></center>
        <h2>1. เลือกอาหารการกิน</h2>
        <dd>กุญแจสำคัญสำหรับการมีสุขภาพดีของน้องแมวนั้นก็ไม่ต่างจากคน 
            การเลือกอาหารที่มีคุณภาพดีมีสารอาหารครบถ้วนล้วนส่งผลต่อสุขภาพของน้องแมวแสนรักของเราทั้งสิ้น
             ดังนั้นการเลือกอาหารให้น้องแมวจึงเป็นสิ่งสำคัญ แนะนำให้เลือกอาหารแมวเกรดซุปเปอร์พรีเมี่ยม
              ที่ได้รับการคิดค้นสูตรอาหารจากทีมสัตวแพทย์ และนักโภชนาการผู้เชี่ยวชาญ คัดสรรจากวัตถุดิบคุณภาพสูง
               อย่าง Purina ONE ที่นอกจากจะเต็มเปี่ยมไปด้วยความอร่อยถูกปาก และอัดแน่นด้วยสารอาหารจำเป็นครบถ้วนสำหรับน้องแมวแล้ว 
               ยังช่วยดูแลแมวให้มีสุขภาพที่ดี ชะลอความเสื่อมของร่างกาย และมีอายุยืนยาวได้อีกด้วย</dd>
        <h2>2. ดูแลรูปร่าง</h2>
        <dd>เลี้ยงแมวทั้งที ก็ต้องหมั่นดูแลน้องแมวให้ไม่อ้วนจนเกินไป โดยสังเกตได้จากรูปร่างที่สมส่วน ไม่มีพุงห้อยย้อย
             และไม่อ้วนจนจนมองไม่เห็นสันหลัง น้ำหนักมาตรฐานในน้องแมวจะอยู่ที่ 4.5 กิโลกรัม แต่ในแมวไทยอาจจะบอบบางกว่า 
             น้ำหนักอยู่ที่ประมาณ 3 กิโลกรัม ส่วนน้องแมวสายพันธุ์ใหญ่อย่างเมนคูณน้ำหนักจะอยู่ที่ประมาณ 11 
             กิโลกรัม การดูแลรูปร่างไม่ให้อ้วนก็เพื่อลดโอกาสที่จะเกิดโรคต่างๆ ที่มากับความอ้วน ไม่ว่าจะเป็น ปัญหากระดูกและข้อ
            โรคหัวใจ และโรคทางระบบอื่นๆ ซึ่งวิธีการดูแลน้องแมวให้มีรูปร่างที่สมส่วนก็ทำได้ไม่ยาก 
            เพียงแต่ให้น้องแมวได้ออกกำลังกายเป็นประจำอย่างน้อย 10-15 นาที วันละ 1-2 ครั้ง และให้อาหารในปริมาณที่พอเหมาะ 
            ตามที่ฉลากอาหารข้างถุงระบุเอาไว้ เท่านี้รูปร่างที่ดีเพื่อสุขภาพที่แข็งแรงก็ไม่ใช่เรื่องยากแล้ว</dd>
        <h2>3. ทำหมัน</h2>
        <dd>การทำหมันทำให้แมวอายุยืนยาวขึ้นกว่าน้องแมวที่ไม่ได้ทำหมันถึง 2 เท่า เพราะการทำหมันจะช่วยลดพฤติกรรมก้าวร้าว
             และการออกเที่ยวนอกบ้าน ซึ่งทำให้เกิดการติดเชื้อโรคติดต่ออันตรายที่มาจากการต่อสู้กัน 
             ที่มักจะพบได้มากในน้องแมวที่ฮอร์โมนพลุ่งพล่านที่ยังไม่ได้รับการทำหมันเพื่อแย่งอาณาเขต หรือแย่งน้องแมวตัวเมียนั่นเอง
            โดยอายุเฉลี่ยของน้องแมวปกติจะอยู่ที่ 14-16 ปี แต่การทำหมันจะช่วยลดความเสี่ยงของการติดโรคต่างๆ ที่กล่าวมา
            และทำให้น้องแมวอายุยืนยาวได้อีกหลายปีเลยทีเดียว ถ้าใครมีลูกแมวอายุราว 4-6 เดือน ก็อย่าลืมพาน้องแมวไปปรึกษาคุณหมอ 
            และตรวจสุขภาพเพื่อเตรียมพร้อมสำหรับการทำหมันได้เลย</dd>
        <h2>4. ทำวัคซีน</h2>
        <dd>การทำวัคซีนเป็นการสร้างเกราะป้องกันให้กับร่างกายของน้องแมวจากโรคติดเชื้อร้ายแรงต่างๆ 
            โดยเฉพาะโรคติดต่อที่อาจเป็นอันตรายต่อคนอย่างโรคพิษสุนัขบ้า การทำวัคซีนจึงเป็นเรื่องสำคัญที่จำเป็นต้องทำ 
            และต้องไปรับการทำวัคซีนเพื่อกระตุ้นภูมิคุ้มกันเป็นประจำทุกปีตามที่สัตวแพทย์นัดหมาย</dd>
        <h2>5. ป้องกันปรสิต</h2>
        <dd>เรื่องเล็กๆ ที่เจ้าของแมวทุกคนต้องใส่ใจ คือการป้องกันปรสิตตัวร้าย ไม่ว่าจะเป็นหมัด
             พยาธิภายในทางเดินอาหาร และพยาธิหนอนหัวใจ ปัญหาเหล่านี้เป็นภัยที่มองไม่เห็นด้วยตาเปล่า 
             ทำให้เจ้าของแมวมักละเลยที่จะป้องกัน และก่อโรคอันตรายมากมายในน้องแมว 
             ไม่ว่าจะเป็นปัญหาแพ้น้ำลายหมัด ขาดสารอาหารจากการมีพยาธิ เกิดโรคพยาธิหนอนหัวใจซึ่งการมีพยาธิหนอนหัวใจในน้องแมวแค่ตัวเดียว 
             ก็อาจเป็นอันตรายถึงขั้นทำให้น้องแมวเสียชีวิตได้ โดยเจ้าของน้องแมวสามารถพาน้องแมวไปรับการป้องกันพยาธิภายนอก 
             ภายใน และพยาธิหนอนหัวใจได้ตั้งแต่น้องแมวอายุ 6-8 สัปดาห์ และควรทำการป้องกันเป็นประจำอย่างต่อเนื่องตามที่คุณหมอแนะนำ
              โดยกินยาถ่ายพยาธิภายในทุกๆ 3 เดือน และป้องกันพยาธิภายนอก เช่น หมัดแมว และป้องกันพยาธิหนอนหัวใจโดยใช้ผลิตภัณฑ์ชนิดหยดหลังเป็นประจำทุกเดือน</dd>
    </div>
</body>
</html>