<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
          background-image: url("../img/black.jpeg");
          background-size: cover;
        }
          @media screen and (max-width: 1000px) and (min-width: 500px) {
          div.head img {
              width: 110px;
              height: 100px;
            }
            div.head>ul>li{
              font-size: 15px;
            }
            div.head h1{
              font-size: 45px;
            }
            div.head{
              display: flex;
              height:100px
            }
            div.name{
              font-size: 10px;
            }
            div.per img{
              width: 450px;
              height: 400px;
            }
          }
          .head{
              display: flex;
              box-shadow: 10px 10px 5px rgb(13, 13, 13);
              background-color: brown;
          }
          .head>ul{
              text-align: left;
              margin: auto;
              margin-left: -20px;
              
          }
          .head>ul>li{
              display:inline;
              font-size: 25px;
              background-color: aliceblue;
              padding: 3px;
              
             
          }
          .head>ul>li>a{
                text-decoration: 0;
            }
            a:hover {
                color: red;
                background-color: transparent;
                text-decoration: 0;
            }
          .head img{
              width: 200px;
  
          }
          .head h1{
              font-size: 60px;
          }
          button{
          margin: 50px 10px 20px;
          width: 100px;
          height: 50px;
    
  }
  .name{
    margin: auto;
    font-size: 25px;
    color:aliceblue;
    padding:10px;
    background-color: black;
  }
            .per{
                background-color: aliceblue;
                font-size: 20px;
            }
            .per img{
                float: left;
            }
          </style>
</head>
<body>
    <div class = "head">
        <img src ="../img/logo.png">
        <h1>CKL</h1>
        <ul>
          <li><a href="/home">หน้าหลัก</a></li>
            <li><a href="/popcat">แมวยอดนิยม</a></li>
            <li><a>สายพันธ์ุ</a></li>
            <li><a href="/heal">ดูแลรักษา</a></li>
            <li><a href="/catcontact">ติดต่อเรา</a></li>
        </ul>
        <% if (loggedIn) { %>
            <div class = "name">
                <%= UserData.name  %>
                
              </div>
         <button onclick="Logout();">Logout</button>
        <% } %>
   
        <% if (!loggedIn) { %>
          <button onclick="Signin();">Sign In</button>
          <button onclick="Signup();">Sign Up</button>
          
         <% } %>



        <script>
            function Signin(){
                window.location='/login';
            }
        </script>
        <script>
            function Signup(){
                window.location='/register';
            }
        </script>
          <script>
            function Logout(){
                window.location='/logout';
            }
        </script>
        <script>
          function Addcat(){
              window.location='/catadd';
          }
      </script>
       
    </div>
    <div class="per">
        <img src="../img/per.jpg">
        <h2>แมวเปอร์เซีย (Persian cat)</h2>
        
        <dd>ทำความรู้จักแมวเปอร์เซีย (Persian Cat)
            แมวเปอร์เซีย หรือ Persian Cat คือหนึ่งในสายพันธุ์น้องแมวขนสวยยาวเงางาม และจัดเป็นหนึ่งในสิบสายพันธุ์แมว 
            ที่ได้รับความนิยมนำมาเลี้ยงมากที่สุดบนโลกสายพันธุ์หนึ่ง ด้วยขนที่สวย บวกกับความน่ารัก ความจงรักภักดีต่อเจ้าของ 
            รักความสงบ ไม่ส่งเสียงดังเอะอะ และความฉลาดแสนรู้ของแมวเปอร์เซีย ทำให้น้องแมวสายพันธุ์นี้มัดใจให้หลายคนตกหลุมรักกันแบบถอนตัวไม่ขึ้น 
            มาทำความรู้จักน้องแมวเปอร์เซีย กันให้มากอีกนิด แล้วคุณจะหลงรักน้องแมวเปอร์เซียยิ่งขึ้นไปอีก
            <br>
            ลักษณะเด่นของแมวเปอร์เซียอยู่ที่ตาที่โต กะโหลกกลม หน้าแบน
             แก้มแน่น และใบหูขนาดเล็กที่มีปลายมน ขนาดหัวที่ใหญ่ของแมวเปอร์เซียช่วยพยุงคอที่สั้น 
             หลายคนอาจเคยสังเกตเห็นว่าแมวเปอร์เซียมีหน้าตาหลายแบบ เช่น หน้าแบนสุดๆ แบบ Peke-face 
             หรือเป็นลุคเก่าที่จะเห็นว่าใบหน้าแมวเปอร์เซียมีความกลมขึ้นมาอีกนิดแบบ Doll-face ซึ่งอายุเฉลี่ยของแมวสายพันธุ์นี้อยู่ที่ 
             10 – 15 ปี มีความยาวลำตัว 14 – 18 นิ้ว (ไม่รวมความยาวหาง) น้ำหนักประมาณ 4 – 6 กิโลกรัม 
             รูปร่างของแมวเปอร์เซียจะเป็นสัดส่วนของกล้ามเนื้อเป็นส่วนใหญ่ ขาสั้น หนา และมีอุ้งเท้าขนาดใหญ่ 
             หางแมวเปอร์เซียจัดว่าไม่ยาวมากเมื่อเทียบกับสัดส่วนลำตัวของแมว</dd>
             <br>
             <br>
             <br>
        <h2>ลักษณะนิสัย</h2>
        <dd>แมวเปอร์เซียจะค่อนข้างเงียบและไม่ซุกซน ชอบที่จะนั่งนิ่งๆ อยู่ข้างกายเจ้าของแบบสงบเสงี่ยม
             มีความเป็นมิตรกับสมาชิกในครอบครัวรวมทั้งเด็ก แต่จะไม่ชอบถ้าเด็กหรือสัตว์เลี้ยงตัวอื่นมากวน 
             หรือมายุ่งวุ่นวาย และมักเป็นแมวที่ได้รับความสนใจจากสมาชิกในครอบครัว แต่มีเพียงไม่กี่คนหรอกนะที่น้องแมวเปอร์เซียจะรู้สึกไว้ใจ
            <br>
            สถานที่หรือบริเวณที่มีเสียงดังเอะอะไม่ใช่ที่ที่จะถูกใจแมวเปอร์เซียเท่าไหร่นัก 
            น้องแมวเปอร์เซียค่อนข้างที่จะรักสงบ ชอบที่จะมีชีวิตเรียบง่าย เช่น ได้กินอาหารเวลาเดิมสม่ำเสมอ 
            มีเวลาเล่นของเล่น และอยู่ในครอบครัวที่อบอวลไปด้วยความรัก ถ้าคุณกำลังมองหาแมวที่จะไม่ปีนผ้าม่านราคาแพงของคุณเล่นๆ 
            ไม่กระโดดไปลุยเคาน์เตอร์ในครัว หรือไม่กระโจนไปยืนบนหลังตู้เย็นล่ะก็ มองมาที่แมวเปอร์เซียได้เลย นอกจากจะอยู่นิ่งๆ 
            ไม่ก่อกวนให้เจ้าของวุ่นวายใจแล้ว แมวเปอร์เซียก็ยังไม่ร้องขอความรักจากใคร แค่ได้อยู่ใกล้ๆ ก็สบายใจสไตล์แมวเปอร์เซียแล้ว
            <br>
            ลักษณะของขน และสีของแมวเปอร์เซีย
            ขนของแมวเปอร์เซียจะมีความยาวและหนาฟู มีความมันวาว เป็นหนึ่งในสายพันธุ์แมวขนสวยเงางาม
             เส้นขนของแมวเปอร์เซียจะยาวตลอดทั้งลำตัว และมีขนฟูนุ่มน่าจับอยู่รอบๆ คอ มีขนเส้นเล็กแซมระหว่างขาหน้า ใบหู นิ้วเท้า และที่หาง
            <br>
            สีสันของแมวเปอร์เซียที่เรามักจะพบเห็นบ่อยจะเป็นสีขาว สีครีม สีแดง สีน้ำเงิน 
            สีดำและสีช็อกโกแลต ส่วนสีตาก็จะเป็นสีเดียวกับสีขน นอกจากสีที่มีหลากหลายแล้ว
             ลวดลายก็มีหลายแบบเช่นกัน โดยอาจจะพบขนสีพื้นและแซมด้วยสีเงิน ทอง ดำ 
             ทำให้เกิดเป็นเฉดสีและลายต่างๆ เช่น สีควันบุหรี่ ลายแบบแท็บบี้ สองสี เป็นต้น</dd>
        <h2>ประวัติและถิ่นกำเนิด</h2>
        <dd>ถิ่นกำเนิด: อิหร่าน
            <br>
            ชื่ออื่น ๆ: แมว Iranian 
            <br>
            ประวัติความเป็นมาของแมวเปอร์เซีย (Persian Cat)
            แต่เดิมนั้นแมวเปอร์เซีย มีถิ่นกำเนิดมาจากแถบเปอร์เซีย 
            ซึ่งอยู่ภายในประเทศตุรกีและอิหร่านในปัจจุบัน 
            ซึ่งสอดคล้องกับชื่อของสายพันธุ์นี้ที่มักจะเรียกกันว่า แมว Iranian (หรืออีกชื่อนึงก็คือแมว Shirazi) 
            โดยมีบันทึกว่าบรรพบุรุษของแมวสายพันธุ์นี้ ถูกนำเข้าจากอิหร่านมาถึงยังประเทศอิตาลี ในช่วงปี ค.ศ. 1620 
            และได้รับความนิยมจากผู้เลี้ยงแมวในแถบยุโรปเป็นอย่างมาก จึงได้มีการนำไปขยายพันธุ์ในสหรัฐฯ 
            ในช่วงต้นปี ค.ศ. 1900 และได้รับการตั้งชื่อว่า Persian Cat ตามถิ่นกำเนิดของแมวสายพันธุ์นี้นั่นเอง</dd>
            <dd>ขนาดของแมวเปอร์เซีย
                แมวเปอร์เซียนั้นจะมีขนาดกลางถึงใหญ่ โดยเพศผู้จะมีน้ำหนักอยู่ราว 4 - 6 กิโลกรัม 
                ส่วนเพศเมียจะมีน้ำหนักอยู่ราว 3-5 กิโลกรัม มีความยาวลำตัว 14 – 18 นิ้ว (ไม่รวมความยาวหาง) 
                สำหรับรูปลักษณ์ภายนอกของแมวเปอร์เซีย นั้นจัดเป็นแมวที่มีโครงร่างกายที่แข็งแรง หัวกลม แก้มกลม 
                มีดวงตาโตสวยงาม นอกจากนี้เราจะสามารถสังเกตได้ว่าแมวเปอร์เซียจะมีจุดเด่นตรง “จมูกหัก” ซึ่งเห็นได้ชัดเจน 
                ถ้ามองจากด้านข้าง ก็จะเห็นเป็นขีดอยู่ระหว่างดวงตาทั้งสองข้าง หน้าตาของแมวเปอร์เซียที่พบได้มีหลายแบบ 
                เช่น หน้าแบนสุดๆ แบบ Peke-face หรือเป็นลุคเก่าที่จะเห็นว่าใบหน้าแมวเปอร์เซียมีความกลมขึ้นมาอีกนิดแบบ Doll-face</dd>
    </div>
</body>
</html>